// Variables
@import 'variables';

.screen-reader-only { 
    border:0;   
    clip: rect(1px, 1px, 1px, 1px); 
    clip-path: inset(50%);
    height: 1px; 
    margin: -1px;
    width: 1px; 
    overflow: hidden; 
    position: absolute !important;
    word-wrap:normal !important;
}

.Mui-checked + .MuiTextField-root textarea {
    text-decoration: line-through;
}